# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
dist
.pnp.js
.yarn/install-state.gz
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# package lock
bun.lock*
package-lock*
yarn.lock*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env
.env.backup
.env.local
.env.development.local
.env.test.local
.env.production.local
.phpunit.result.cache
.vscode
*.pem
*.cer
*.crt
*.der

# debug
logs
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
